@font-face {
  font-family: 'fira_sansbook';
  src: url('../fonts/firasans-book.eot');
  src: url('../fonts/firasans-book.eot?#iefix') format('embedded-opentype'), url('../fonts/firasans-book.woff') format('woff'), url('../fonts/firasans-book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sanslight';
  src: url('../fonts/firasans-light.eot');
  src: url('../fonts/firasans-light.eot?#iefix') format('embedded-opentype'), url('../fonts/firasans-light.woff') format('woff'), url('../fonts/firasans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sansmedium';
  src: url('../fonts/firasans-medium.eot');
  src: url('../fonts/firasans-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/firasans-medium.woff') format('woff'), url('../fonts/firasans-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?18591201');
  src: url('../fonts/fontello.eot?18591201#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?18591201') format('woff'), url('../fonts/fontello.ttf?18591201') format('truetype'), url('../fonts/fontello.svg?18591201#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
html,
button,
input {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
html,
body {
  height: 100%;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h2 {
  margin: 0;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
Общие стили
========================================================================== */

body {
  background: url(../img/bg.png);
  font-family: 'fira_sansbook'
}
.header-container {
  background: #eff3f7;
  width: 100%;
  margin-bottom: 40px;
}
header {
  margin: 0 auto;
  width: 1200px;
  padding: 28px 0 30px 0;
}
.header__logo {
  float: left;
}
.header__social {
  float: right;
}
.header__social .header__social-icon {
  display: inline-block;
  margin-right: 15px;
  margin-top: 5px;
}
.header__social .header__social-icon a {
  background: url(../img/sprite.png) no-repeat;
}
.header__social .vk a {
  background-position: 0 0;
  width: 46px;
  height: 46px;
  display: inline-block;
}
.header__social .vk a:hover {
  background-position: 0 -50px;
  width: 46px;
  height: 46px;
}
.header__social .fb a {
  background-position: -50px 0;
  width: 47px;
  height: 47px;
  display: inline-block;
}
.header__social .fb a:hover {
  background-position: -50px -50px;
  width: 47px;
  height: 47px;
}
.header__social .tw a {
  background-position: -100px 0;
  width: 47px;
  height: 47px;
  display: inline-block;
}
.header__social .tw a:hover {
  background-position: -100px -50px;
  width: 47px;
  height: 47px;
}
.header__social .gh a {
  background-position: -150px 0;
  width: 47px;
  height: 47px;
  display: inline-block;
}
.header__social .gh a:hover {
  background-position: -150px -50px;
  width: 47px;
  height: 47px;
}
.border {
  width: 100%;
  height: 3px;
  background-color: #1C667A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(28, 102, 122, 0.9)), color-stop(0%, rgba(246, 250, 254, 0.9)), color-stop(0%, rgba(216, 216, 216, 0.9)), color-stop(0%, rgba(242, 246, 250, 0.9)), color-stop(48%, rgba(28, 102, 122, 0.9)), to(rgba(242, 246, 250, 0.9)));
  background-image: -webkit-linear-gradient(left, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
  background-image: linear-gradient(to right, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
}
.main-container {
  min-height: 100%;
  margin: 0 auto;
  width: 960px;
}
.main-container:after {
  content: "";
  display: block;
}
.footer-container,
.main-container:after {
  height: 78px;
}
.sidebar {
  float: left;
}
.sidebar__contacts,
.sidebar__main-nav {
  width: 250px;
}
.current a {
  background: #3ba8c0;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 22px 26px 19px;
  display: block;
}
.current a:hover {
  background: #3ba8c0;
  color: #fff;
}
.underline a {
  color: #959aa8;
  background: #eff3f7;
  border-bottom: 2px solid #3ba8c0;
  text-decoration: none;
  font-size: 21px;
  padding: 24px 27px 16px;
  display: block;
}
.calm a {
  color: #959aa8;
  background: #eff3f7;
  text-decoration: none;
  font-size: 20px;
  padding: 22px 29px 27px;
  display: block;
}
.sidebar-navlist__me {
  border-radius: 4px 4px 0 0;
}
.sidebar-navlist__feed {
  border-radius: 0 0 4px 4px;
  margin-bottom: 19px;
}
.calm a:hover,
.underline a:hover {
  color: #3ba8c0;
}
.sidebar__contacts a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}
.sidebar__contacts a:hover {
  text-decoration: underline;
}
.sidebar__contacts-header {
  background: #3ba8c0;
  color: #fff;
  padding: 9px 21px 9px;
  border-radius: 4px 4px 0 0;
  font-size: 20px;
}
.sidebar__contacts-mail {
  background: #41b9d4;
  padding: 6px 0 6px 11px;
}
.sidebar__contacts-tel {
  background: #48cbe8;
  padding: 9px 0 8px 11px;
}
.sidebar__contacts-skype {
  background: #51daf8;
  border-radius: 0 0 4px 4px;
  padding: 7px 0 7px 11px;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
}
.icon-skype:before {
  color: #fff;
  content: '\e800';
}
.icon-mail:before {
  color: #fff;
  content: '\e801';
}
.icon-phone:before {
  color: #fff;
  content: '\e802';
}
.icon-suitcase:before {
  content: '\e803';
  font-size: 32px;
  float: left;
  margin-right: 30px;
}
.icon-graduation-cap:before {
  content: '\e804';
  font-size: 32px;
  float: left;
  margin-right: 30px;
}
.icon-doc-text:before {
  content: '\e805';
  font-size: 32px;
  float: left;
  margin-right: 30px;
}
.content-wrapper {
  float: right;
}
section {
  width: 650px;
  background: #eff3f7;
  margin-bottom: 24px;
  border-radius: 4px;
}
h2 {
  color: #3BA8C0;
  font-size: 27px;
  font-weight: 300;
}
.info {
  border-bottom: 2px solid #3BA8C0;
  padding: 14px 22px 14px 19px;
  display: inline-block;
}
.footer-container {
  background: #eff3f7;
}
footer p {
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
}
/* ==========================================================================
Главная страница
========================================================================== */

.about img {
  float: left;
  margin-top: 42px;
  margin-left: 55px;
  margin-right: 20px;
}
.about>ul {
  padding: 26px 0 26px 0;
}
.about>ul>li {
  padding-bottom: 10px;
}
.about__bold {
  font-family: 'fira_sansmedium';
  font-weight: 500;
  font-size: 15px;
}
.about__skils {
  display: inline-block;
  width: 220px;
  vertical-align: top;
}
.about__skils-pils {
  display: inline-block;
  font-size: 14px;
  padding: 3px 14px;
  color: #fff;
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2E8CA2), color-stop(52%, #2E8CA2), color-stop(53%, #3BA8C0), to(#3BA8C0));
  background-image: -webkit-linear-gradient(bottom, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
  background-image: linear-gradient(to top, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
  border-radius: 2px;
  margin-left: 5px;
  margin-bottom: 9px;
}
.experience__list,
.education__list {
  padding: 19px 0 31px 58px;
}
.experience .experience__list-item:first-child,
.education .education__list-item:first-child {
  font-size: 17px;
  margin-bottom: 26px
}
.date {
  font-size: 15px
}
.icon-work {
  background-image: url(sprite-ui.png);
  background-position: 0px 0px;
  width: 36px;
  height: 34px;
}
/* ==========================================================================
Мои работы
========================================================================== */

.works ul {
  padding-top: 34px;
}
.works__item {
  float: left;
  text-align: center;
  margin-left: 85px;
}
.works li img {
  border-radius: 4px;
  border: 2px solid #3ba8c0;
}
.add-new {
  margin-bottom: 267px
  margin-left: 83px;
}
.add-new a img {
  border: none;
}
.works p a {
  font-family: 'fira_sanslight';
  text-decoration: none;
  font-style: italic;
}
.works p {
  margin-bottom: 33px
}
.works .mask {
  opacity:0;
  background-color: rgba(115, 146, 184, 0.7);
  position: absolute;
  text-align: center;
  color: #fff;
  top: 312px;
  border-radius: 4px;
}
.first {
  padding: 67px 54px 62px 60px;
}
.second {
  padding: 67px 70px 62px 69px;
}
.works .mask:hover {
  transition: 300ms ease-in;
  opacity: 1;
}
.mask a {
  border-radius: 4px;
  border: solid 1px #fff;
  color: #fff;
  text-decoration: none;
  padding: 0px 4px 0 4px;
}
.overlay {
  display:none;
  position: fixed;
  z-index: 999;
  opacity: 0.5;
  filter: alpha(opacity=50);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #818e9b;
}
.popup {
  display:none;
  position: fixed;
  background: #fff;
  width: 362px;
  height: 494px;
  top: 27%;
  left: 50%;
  margin: -100px 0 0 -100px;
  z-index: 1000;
  border-radius: 4px;
  -moz-box-shadow: 0 6px 12.5px 0.5px rgba(13, 16, 7, 0.35);
  -webkit-box-shadow: 0 6px 12.5px 0.5px rgba(13, 16, 7, 0.35);
  box-shadow: 0 6px 12.5px 0.5px rgba(13, 16, 7, 0.35);
  font-family: 'fira_sansbook';
}
.close {
  display: block;
  width: 25px;
  text-align: center;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  color: #fff;
  border: 2px solid #fff;
  position: absolute;
  top: 8px;
  right: 10px;
  text-decoration: none;
  border-radius: 50%;
  font-size: 20px;
  font-family: 'fira_sansbook';
}
.popup__header {
  font-size: 20px;
  font-weight: 400;
  border-bottom: 9px solid #67DFFA;
  background: #3ba8c0;
  margin: 0;
  color: #fff;
  font-family: 'fira_sansbook';
  text-align: left;
  padding: 10px;
}
.popup__form-item {
  position: relative;
  margin-bottom: 30px;
}
.popup__form-label {
  position: absolute;
  top: -21px;
  font-size: 18px;
  left: 22px;
  color: #959AA8;
}
.popup__form-input {
  border: 1px solid #3ba8c0;
  border-radius: 4px;
  margin-left: 21px;
  padding: 10px 0px 9px 0px;
  width: 320px;
}
.form__img-btn {
  border: none;
  height: 39px;
  position: relative;
  top: 13px;
  left: -10px;
  border-radius: 0 4px 4px 0;
  background-image: url(../img/img-add.png);
  background: #48cbe8;
  width: 53px;
  background-position: center;
  background-repeat: no-repeat;
}
.form__img-input {
  width: 267px;
}
.popup__form-textarea {
  margin-top: 0;
}
/* ==========================================================================
Обратная связь
========================================================================== */

.feedback {
  padding-bottom: 185px;
}
.feedback__header {
  font-size: 27px;
  color: #fff;
  border-bottom: 17px solid #67DFFA;
  text-align: center;
  padding: 43px 0px;
  font-family: 'fira_sansbook';
  font-weight: 300;
  background: #3ba8c0;
  margin-top: 0;
}
.form__all {
  padding-left: 123px;
  padding-top: 18px;
}
.form__all-line {
  display: inline-block;
  position: relative;
}
.form__all .form__all-line:first-child {
  margin-right: 6px;
}
.form__all-line img {
  margin-right: 12px;
}
.form__all-input,
textarea {
  border: 1px solid #3ba8c0;
  border-radius: 4px;
  margin-left: 1px;
  margin-top: 49px;
  padding: 10px 0px 9px 0px;
}
.label-top {
  position: absolute;
  top: 20px;
  font-size: 18px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #3ba8c0;
  font-family: 'fira_sanslight';
  font-size: 12px;
  padding-left: 10px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #3ba8c0;
  font-family: 'fira_sanslight';
  font-size: 12px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #3ba8c0;
  font-family: 'fira_sanslight';
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #3ba8c0;
  font-family: 'fira_sanslight';
  font-size: 12px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.label-captcha {
  top: 5px;
  font-size: 17px;
}
.label-message {
  top: 15px;
}
.form__all textarea {
  top: -9px;
  position: relative;
}
.textarea-ph {
  position: relative;
  top: -167px;
  left: 26px;
}
.captcha__placeholder {
  position: relative;
  top: -65px;
  left: 204px;
  color: #3ba8c0;
  font-family: 'fira_sanslight';
}
.submit {
  display: block;
  margin-left: 4px;
  margin-top: 28px;
}
button {
  color: #fff;
  border: 1px solid transparent;
}
.feedback__form-send {
  margin-right: 122px;
}
.feedback__form-send,
.feedback__form-send:hover,
.feedback__form-send:focus,
.feedback__form-send:active {
  background: #48CBE8;
  border-radius: 5px;
  border-bottom: 2px solid #3BA8C0;
  font-size: 19px;
  padding: 4px 19px;
}
.feedback__form-clear,
.feedback__form-clear:hover,
.feedback__form-clear:focus,
.feedback__form-clear:active {
  background: #849DB5;
  border-radius: 5px;
  border-bottom: 2px solid #687B8F;
  font-size: 19px;
  padding: 8px 26px;
}
/* ==========================================================================
Форма входа
========================================================================== */

.login {
  /*  margin-bottom: -78px;*/
  min-height: 100%;
  margin: 0 auto;
}
.login:after {
  content: "";
  display: block;
}
.footer-container__login,
.login:after {
  height: 78px;
}
.footer-container__login {
  background: #eff3f7;
}
/* ==========================================================================
Helper classes
========================================================================== */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}